.clear {
  display: none;
}

// breadcrumbs
.woocommerce-breadcrumb {
  margin: var(--scale-16-32) 0;
}

// header
.woocommerce-products-header,
header h1 {
  margin: var(--scale-16-32) 0;
}

.woocommerce-checkout header h1 {
  margin-bottom: 0;
}

// product card
li.product {
  display: grid;
  gap: var(--scale-8-16);
  justify-items: center;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    height: fit-content;
    border: 1px solid var(--c-grey-pale);
    border-radius: var(--border-radius-small);
  }

  .woocommerce-loop-product__link {
    display: grid;
    gap: var(--scale-8-16);
    width: 100%;
    text-decoration: none;
  }

  .woocommerce-loop-product__title {
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
  }

  .price {
    font-size: var(--fs-body);
    font-weight: var(--fw-semi-bold);

    ins {
      text-decoration: none;
    }

    .price-prefix {
      font-size: var(--fs-small);
    }
  }

  a.add_to_cart_button {
    align-self: end;
  }

  .onsale {
    position: absolute;
    top: 0;
    padding: var(--s-8);
    background: var(--c-error-dark);
    color: var(--c-white);
    border-top-left-radius: var(--border-radius-small);
    border-bottom-right-radius: var(--border-radius-small);
    font-size: var(--fs-small);
    font-weight: var(--fw-semi-bold);
  }
}

// message
.woocommerce-message {
  background: var(--c-accent-pale);
  border: 1px solid var(--c-button-border);
  color: var(--c-nearly-black);
  margin-bottom: var(--scale-16-32);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--scale-16-32);
  padding: var(--scale-8-16);
  overflow: hidden;

  a {
    order: 2;
    border: 2px solid var(--c-button-border);
    background: var(--c-accent);
    padding: var(--scale-8-16) var(--scale-16-24);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-button);
    color: var(--c-nearly-black);
    height: fit-content;
    display: inline-block;
    outline-offset: -2px;
    font-weight: var(--fw-semi-bold);
  }
}

.woocommerce-error {
  background: var(--c-error-pale);
  border: 1px solid var(--c-button-border);
  color: var(--c-error-dark);
  margin-bottom: var(--scale-16-32);
  border-radius: var(--border-radius-small);
  display: grid;
  gap: var(--scale-16-32);
  padding: var(--scale-8-16);
  overflow: hidden;
}

// combobox used on cart and checkout for country
.select2-selection[role='combobox'] {
  padding: var(--scale-8-16);
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--c-grey-med);

  .select2-selection__rendered {
    padding: 0;
    line-height: normal;
  }

  .select2-selection__arrow {
    position: static;
    display: flex;
    align-items: center;

    b {
      position: static;
      margin: 0;
    }
  }
}

.select2-container .select2-selection--single {
  margin: 0;
}

// shipping methods
.woocommerce-shipping-methods {
  display: grid;
  gap: var(--scale-8-16);

  li {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--s-8);

    label {
      font-weight: var(--fw-regular);
    }
  }
}

// forms
.form-row {
  display: grid;

  label {
    margin-bottom: var(--s-8);
  }

  input[type='password'] {
    width: 100%;
  }
}

// star rating
/*star rating for products*/
// .woocommerce-product-rating .star-rating {
//   margin: 0.5em 4px 0 0;
//   float: left;
// }

// .woocommerce-product-rating::after,
// .woocommerce-product-rating::before {
//   content: ' ';
//   display: table;
// }

// .woocommerce-product-rating {
//   line-height: 2;
// }

// .star-rating {
//   float: right;
//   overflow: hidden;
//   position: relative;
//   height: 1em;
//   line-height: 1;
//   font-size: 1em;
//   width: 5.4em;
//   font-family: star;
// }

// .star-rating::before {
//   content: '\73\73\73\73\73';
//   color: #d3ced2;
//   float: left;
//   top: 0;
//   left: 0;
//   position: absolute;
// }

// .star-rating {
//   line-height: 1;
//   font-size: 1em;
//   font-family: star;
// }

// .star-rating span {
//   overflow: hidden;
//   float: left;
//   top: 0;
//   left: 0;
//   position: absolute;
//   padding-top: 1.5em;
// }

// .star-rating span::before {
//   content: '\53\53\53\53\53';
//   top: 0;
//   position: absolute;
//   left: 0;
// }

// .star-rating span {
//   overflow: hidden;
//   float: left;
//   top: 0;
//   left: 0;
//   position: absolute;
//   padding-top: 1.5em;
// }
