// breadcrumbs
.woocommerce-breadcrumb {
  margin: var(--scale-16-32) 0;

  a {
    text-decoration: underline;
  }
}

// header
.woocommerce-products-header,
header h1 {
  margin: var(--scale-16-32) 0;
}

// product card
li.product {
  display: grid;
  gap: var(--scale-8-16);
  justify-items: center;
  text-align: center;

  img {
    width: 100%;
    height: fit-content;
    border: 1px solid var(--c-grey-pale);
    border-radius: var(--border-radius-small);
  }

  .woocommerce-loop-product__link {
    display: grid;
    gap: var(--scale-8-16);
    width: 100%;
  }

  .woocommerce-loop-product__title {
    font-size: var(--fs-small);
    font-weight: var(--fw-regular);
  }

  .price {
    font-size: var(--fs-body);
    font-weight: var(--fw-semi-bold);

    .price-prefix {
      font-size: var(--fs-small);
    }
  }

  a.add_to_cart_button {
    align-self: end;
  }
}

// message
.woocommerce-message {
  background: var(--c-accent-pale);
  border: 1px solid var(--c-accent-pale);
  color: var(--c-nearly-black);
  margin-bottom: var(--scale-16-32);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--scale-16-32);
  padding: var(--scale-8-16);
  overflow: hidden;

  a {
    order: 2;
    border: 2px solid var(--c-button-border);
    background: var(--c-accent);
    padding: var(--scale-8-16) var(--scale-16-24);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-button);
    color: var(--c-nearly-black);
    height: fit-content;
    display: inline-block;
    outline-offset: -2px;
    font-weight: var(--fw-semi-bold);
  }
}

// combobox used on cart and checkout for country
.select2-selection[role='combobox'] {
  padding: var(--scale-8-16);
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--c-grey-med);

  .select2-selection__rendered {
    padding: 0;
    line-height: normal;
  }

  .select2-selection__arrow {
    position: static;
    display: flex;
    align-items: center;

    b {
      position: static;
      margin: 0;
    }
  }
}

.select2-container .select2-selection--single {
  margin: 0;
}
