.strapline-wrapper {
  background: var(--c-accent-pale);

  .strapline {
    border-radius: var(--border-radius-small);
    padding: var(--scale-16-32) 0;
    color: var(--c-nearly-black);

    h1 {
      font-size: var(--fs-h3);

      @media (min-width: 768px) {
        font-size: var(--fs-h2);
      }
    }

    p {
      margin: 0 !important;
    }

    .button {
      background-color: var(--c-secondary-button);
      margin: 0 0 0 auto;
    }
  }
}

.banner {
  margin: var(--scale-16-32) 0;
}

.general-banner-wrapper {
  background: var(--c-white);
  border-radius: var(--border-radius-small);

  .general-banner {
    background: var(--c-white);
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
    border-radius: var(--border-radius-small);
    padding: var(--scale-16-32) var(--scale-16-32) var(--scale-16-32) 50%;
    display: grid;
    gap: var(--scale-16-32);

    @media (min-width: 768px) {
      background-position: 3.2rem center;
      background-size: 40%;
    }

    h1 {
      font-size: var(--fs-h3);

      @media (min-width: 768px) {
        font-size: var(--fs-h2);
      }
    }

    .button {
      background-color: var(--c-secondary-button);
      margin: 0 0 0 auto;
    }
  }
}

.christmas-banner-wrapper {
  background-image: url(images/christmas-bg.jpg);
  background-repeat: no-repeat;
  background-position: right -400px;
  border-radius: var(--border-radius-small);

  .christmas-banner {
    background-image: url(images/christmas-mug.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
    border-radius: var(--border-radius-small);
    padding: var(--scale-16-32) var(--scale-16-32) var(--scale-16-32) 50%;
    display: grid;
    gap: var(--scale-16-32);
    z-index: 10;
    position: relative;

    @media (min-width: 768px) {
      background-position: 3.2rem center;
      background-size: 40%;
    }

    h1 {
      font-size: var(--fs-h3);
      color: var(--c-white);
      text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8),
        0px 4px 4px rgba(0, 0, 0, 0.25);

      @media (min-width: 768px) {
        font-size: var(--fs-h2);
      }
    }

    .button {
      background-color: var(--c-secondary-button);
      margin: 0 0 0 auto;
    }
  }
}
