.banner-wrapper {
  background: var(--c-white);
}

.banner {
  background: var(--c-white);
  background-image: url(images/banner.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%;
  border-radius: var(--border-radius-small);
  padding: var(--scale-16-32) var(--scale-16-32) var(--scale-16-32) 50%;
  display: grid;
  gap: var(--scale-16-32);

  @media (min-width: 768px) {
    background-position: 3.2rem center;
    background-size: 40%;
  }

  h1 {
    font-size: var(--fs-h3);

    @media (min-width: 768px) {
      font-size: var(--fs-h2);
    }
  }

  .button {
    background-color: var(--c-secondary-button);
    margin: 0 0 0 auto;
  }
}
