.footer {
  background: var(--c-grey);
  padding: var(--scale-16-32) 0;

  .inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--scale-16-32);
  }

  .newsletter {
    grid-column-start: 3;
    grid-column-end: span 2;
    display: grid;
  }

  .legals {
    grid-column-start: 1;
    grid-column-end: span 4;
  }
}
