.woocommerce-breadcrumb {
  margin: var(--scale-16-32) 0;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: var(--scale-16-32);
  padding: var(--scale-16-32) 0 var(--scale-32-64) 0;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .woocommerce-LoopProduct-link {
    display: block;
  }

  .product_type_variable {
    display: block;
  }

  .product-type-variable {
    display: grid;
    gap: var(--scale-8-16);
    justify-items: center;
    text-align: center;

    img {
      width: 100%;
      height: fit-content;
      border: 1px solid var(--c-grey-pale);
      border-radius: var(--border-radius-small);
    }

    a {
      display: grid;
      gap: var(--scale-8-16);
    }

    .woocommerce-loop-product__title {
      font-size: var(--fs-small);
      font-weight: var(--fw-regular);
    }

    .price {
      font-size: var(--fs-body);
      font-weight: var(--fw-semi-bold);
    }
  }
}

.woocommerce-result-count,
.woocommerce-ordering {
  display: inline-block;
}

.woocommerce-result-count {
  margin: 0 var(--scale-16-32) var(--scale-16-32) 0;
}

.page-numbers {
  display: flex;
  gap: var(--scale-8-16);
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a.page-numbers {
    padding: var(--scale-8-16) var(--scale-16-24);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--c-grey-pale);
    background-color: var(--c-grey-pale);
    color: var(--c-nearly-black);
    height: fit-content;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--scale-16-32);
  margin-bottom: var(--scale-16-32);

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .image {
    width: 100%;
  }

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    height: fit-content;
    border-radius: var(--border-radius-small);
  }

  .summary {
    width: 100%;
    display: grid;
    gap: var(--scale-16-32);

    h1 {
      font-size: var(--fs-h2);
    }

    .price {
      font-size: var(--fs-h4);
    }

    .variations {
      tr {
        display: flex;
        gap: var(--s-8);
        align-items: center;
      }

      .value {
        display: flex;
        gap: var(--s-8);
        align-items: center;
      }
    }

    .variations_form,
    .single_variation_wrap,
    .woocommerce-variation-add-to-cart {
      display: grid;
      gap: var(--scale-8-16);
    }

    .single_variation_wrap {
      .price {
        font-weight: var(--fw-semi-bold);
      }
    }

    .woocommerce-variation-add-to-cart {
      display: grid;
      gap: var(--scale-8-16);

      button {
        width: fit-content;
      }
    }

    .reset_variations {
      text-decoration: underline;
    }

    select[name='attribute_pa_size'] {
      padding-right: var(--s-32);
    }
  }
}

.button.wc-backward {
  display: block;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
