.woocommerce-breadcrumb {
  margin: var(--scale-16-32) 0;

  a {
    text-decoration: underline;
  }
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: var(--scale-16-32);
  padding: var(--scale-16-32) 0 var(--scale-32-64) 0;
  width: 100%;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .woocommerce-LoopProduct-link {
    display: block;
  }

  .product_type_variable {
    display: block;
  }

  .product-type-variable {
    display: grid;
    gap: var(--scale-8-16);
    justify-items: center;
    text-align: center;

    img {
      width: 100%;
      height: fit-content;
      border: 1px solid var(--c-grey-pale);
      border-radius: var(--border-radius-small);
    }

    a {
      display: grid;
      gap: var(--scale-8-16);
    }

    .woocommerce-loop-product__title {
      font-size: var(--fs-small);
      font-weight: var(--fw-regular);
    }

    .price {
      font-size: var(--fs-body);
      font-weight: var(--fw-semi-bold);

      .price-prefix {
        font-size: var(--fs-small);
      }
    }
  }
}

.woocommerce-result-count,
.woocommerce-ordering {
  display: inline-block;
}

.woocommerce-result-count {
  margin: 0 var(--scale-16-32) var(--scale-16-32) 0;
}

.page-numbers {
  display: flex;
  gap: var(--scale-8-16);
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a.page-numbers {
    padding: var(--scale-8-16) var(--scale-16-24);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--c-grey-pale);
    background-color: var(--c-grey-pale);
    color: var(--c-nearly-black);
    height: fit-content;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--scale-16-32);
  margin-bottom: var(--scale-16-32);

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .image {
    width: 100%;

    @media (min-width: 768px) {
      width: 60%;
    }
  }

  img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    height: fit-content;
    border-radius: var(--border-radius-small);
  }

  .summary {
    width: 100%;
    display: grid;
    gap: var(--scale-16-32);

    @media (min-width: 768px) {
      width: 40%;
    }

    h1 {
      font-size: var(--fs-h2);
    }

    .price {
      font-size: var(--fs-h4);
    }

    .variations {
      tr {
        display: flex;
        gap: var(--s-8);
        align-items: center;
      }

      .value {
        display: flex;
        gap: var(--s-8);
        align-items: center;
      }
    }

    .variations_form,
    .single_variation_wrap {
      display: grid;
      gap: var(--scale-8-16);
    }

    .single_variation_wrap {
      .price {
        font-weight: var(--fw-semi-bold);
      }
    }

    .woocommerce-variation-add-to-cart {
      display: grid;
      gap: var(--scale-8-16);
      width: 20.6rem;

      @media (min-width: 768px) {
        width: 25.8rem;
      }

      .qty {
        width: 100%;
      }
    }

    .reset_variations {
      text-decoration: underline;
    }

    select[name='attribute_pa_size'] {
      padding-right: var(--s-32);
    }

    .button[type='submit'] {
      color: var(--c-nearly-black);
      background-color: var(--c-primary-button);
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 500px;

      &:hover,
      &:focus {
        background-color: var(--c-primary-button);
      }
    }
  }
}

.button.wc-backward {
  display: block;
}

.woocommerce-tabs {
  display: grid;
  gap: var(--scale-16-32);
  margin: 0 auto var(--scale-32-64) auto;
  max-width: var(--max-readable-width);

  .tabs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: var(--scale-8-16);

    li {
      padding: var(--scale-8-16) var(--scale-16-24);
      border-bottom: 2px solid var(--c-grey);
      color: var(--c-nearly-black);
      height: fit-content;
      display: inline-block;
      outline-offset: -2px;

      &.active {
        border-color: var(--c-nearly-black);
      }
    }
  }

  .woocommerce-Tabs-panel,
  .woocommerce-Reviews {
    display: grid;
    gap: var(--scale-16-32);

    br {
      content: '';
      display: block;
      margin-bottom: 0.8rem;
    }
  }

  .comment-respond,
  .comment-form {
    display: grid;
    gap: var(--scale-16-32);
  }

  .comment-form-comment,
  .comment-form-rating {
    display: grid;
    gap: var(--scale-8-16);

    input {
      width: 100%;
    }
  }

  .comment-form-author,
  .comment-form-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--scale-8-16);

    input {
      width: 100%;
    }
  }

  .stars {
    a {
      padding: var(--scale-8-16) var(--scale-16-24);
      border-radius: var(--border-radius-small);
      border: 2px solid var(--c-grey);
      background-color: var(--c-white);
      color: var(--c-nearly-black);
      height: fit-content;
      display: inline-block;
      outline-offset: -2px;
      font-weight: var(--fw-semi-bold);

      &.active {
        border: 2px solid var(--c-nearly-black);
      }
    }
  }

  .comment-form-cookies-consent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--scale-8-16);

    label {
      font-weight: var(--fw-regular);
    }
  }
}

.woocommerce-message {
  background: var(--c-accent-pale);
  border: 1px solid var(--c-accent-pale);
  color: var(--c-nearly-black);
  margin-bottom: var(--scale-16-32);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--scale-16-32);
  padding: var(--scale-8-16);
  overflow: hidden;

  a {
    order: 2;
    border: 2px solid var(--c-button-border);
    background: var(--c-accent);
    padding: var(--scale-8-16) var(--scale-16-24);
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-button);
    color: var(--c-nearly-black);
    height: fit-content;
    display: inline-block;
    outline-offset: -2px;
    font-weight: var(--fw-semi-bold);
  }
}
